
.dashboardcontainer{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .block{
   color: black;
   font-size:25px;
   font-weight: 400;
   margin:20px;
   min-height:200px;
   transition: all 0.12s ease-out;
   box-shadow: 0 1px 1px #e8e8e8;
   background-color: #fff;

  }