
.dashboardcontainer{
  margin-bottom:50px;
  }
  
  .block{
    position: relative;
    z-index: 1;
    font-size:25px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    padding: 45px;
    text-align: center;
    background-color: white;
    border:none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    transition:box-shadow 0.3s, transform 0.3s;
    box-sizing:border-box;
    outline:none;
  }

  .headerstyle{
   
  }
  .block:focus{
    outline: none;
  }


  .block:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    
    /* background-color: white; */
    color:black;
    transform: translateY(-15px);

    /* translate:translateY(0,-44px); */
  }

  .imagebox{
    width:100px;
    height:100px;
  }

.logout{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #42a5f5;
  width: 10%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  min-width: 111px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;

  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  border-radius: 10px;
  transition:box-shadow 0.3s, transform 0.3s;
}
.logout:hover{
  background-color:#FF3831 ;
  transform:translateY(-5px);
}

.wavecontainer{
 font-weight: bold;
 color: Black;
 width:60%;
 left:33%;
 background-color: white;
 border-radius: 5px;
 padding:5px;
}

