.resultcard{
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    background-color: white;
    border-radius: 5px; */

    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    padding:10px;
    background-color: white;
    /* margin-right:10px; */
    margin-top:10px;
    height: 100%;
}

tr:nth-child(even) {background-color:lightgrey;}

th{
    color:white;
    background:teal;
    padding:5px;
}
td{
    padding:5px;
}

Row {
  display: flex;
  flex-wrap: wrap;
}
Col {
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

col{
  margin-top: 20px;
}

.resultcontainer{
 background-color:yellow;
  display:inline-block;
    padding: 10px;
}

.resultcontainer>div{
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     border-radius: 5px;
     margin:10px;
     background-color: white;
}